Service Unit Tests/Web References/TextService/Case.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/TextService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/TextService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/TextService">
      <s:element name="CaseConvert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="incoming" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="flag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaseConvertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaseConvertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CaseConvertSoapIn">
    <wsdl:part name="parameters" element="tns:CaseConvert" />
  </wsdl:message>
  <wsdl:message name="CaseConvertSoapOut">
    <wsdl:part name="parameters" element="tns:CaseConvertResponse" />
  </wsdl:message>
  <wsdl:portType name="CaseSoap">
    <wsdl:operation name="CaseConvert">
      <wsdl:input message="tns:CaseConvertSoapIn" />
      <wsdl:output message="tns:CaseConvertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaseSoap" type="tns:CaseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CaseConvert">
      <soap:operation soapAction="http://localhost/TextService/CaseConvert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaseSoap12" type="tns:CaseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CaseConvert">
      <soap12:operation soapAction="http://localhost/TextService/CaseConvert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Case">
    <wsdl:port name="CaseSoap" binding="tns:CaseSoap">
      <soap:address location="http://localhost:60471/Case.asmx" />
    </wsdl:port>
    <wsdl:port name="CaseSoap12" binding="tns:CaseSoap12">
      <soap12:address location="http://localhost:60471/Case.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>